main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

footer {
  background-color: burlywood;
}




/* Groups & Items  (Desktop) */

@media screen and (min-width: 750px) {
  section,
  h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }

  .coffee-pour-img {
    width: 60%;
  }
  .coffee-history {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .coffee-history-item {
    flex: 1;
    max-width: 30%; 
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .coffee-history-item img {
    display: block;
    max-width: 100%;
    height: auto;
  }

}
